<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.mintmalory.levelup_ht1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".A">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".B"
            android:label="B"
            android:parentActivityName=".A" />
        <activity
            android:name=".C"
            android:label="C"
            android:parentActivityName=".B" />
        <activity
            android:name=".D"
            android:label="D"
            android:parentActivityName=".B" />
    </application>

</manifest>